{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
    <center>
        <form method="get" action="inscriptionPartie">
            <fieldset>
                <legend>Inscription Partie</legend>     
                <label for="parties">Parties disponibles : </label>
                <select name="partieName">
                    {% for Partie in Parties %}
                        <option value="{{ Partie.partieName }}">{{ Partie.partieName }}
                    {% endfor %}
                </select>
            <fieldset>
            <br>
           <input type="submit" value="continuer l'inscription" type="button" class="btn btn-secondary"><br><br>
        </form>
    </center>
    </div>
{% endblock %}