<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
  <meta http-equiv="Content-Language" content="fr" />
  <meta name="Copyright" content="v.sypowski" />
  <meta name="Author" content="v.sypowski" />
  <meta protected_copyright="true">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href="{{ asset('bundles/framework/css/bootstrap.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/framework/css/styles.css') }}" rel="stylesheet" />
  <script src="jquery.js"></script>
  <script language="JavaScript" type="text/javascript" src="javascript.js"></script>
  </head>
</body>
	<div id="content">
	<hr width="100%"></hr>	
	<div id="index"><h1><u><div id="titleIndex">Index</div></u></h1>
	<ul>
		<li><a href="#Sécurité">Sécurité</a></li>
		<li><a href="#Puissance">Puissances maximales, distances de sécurité et modes de tir </a></li>
		<ul>
			<li><a href="#Puissance1">1) Puissance des répliques et règles d’engagement</a></li>
			<li><a href="#Mode">2) Modes de tir</a></li>
		</ul>
		<li><a href="#Pyro">Pyrotechnie/Grenade</a></li>
		<li><a href="#Regles">Règles de jeu</a></li>
		<li><a href="#ReglesSpec">Règles spécifiques : Médecin</a></li>
		<li><a href="#Code">Code moral</a></li>
	</ul>
	</div>
	<hr width="100%"></hr>
	</br>
<h2><div id="Sécurité">Sécurité :</div></h2>
<ul>
	<li>Le port de protections oculaires adapté à la pratique de l’airsoft est obligatoire, du début à la fin de la partie, sur tout le terrain, y compris en zone neutre durant les parties. </li>
	<li>Il est conseillé aux joueurs de porter une protection faciale, afin d’éviter au maximum toutes blessures au visage.</li>
	<li>Les responsables de l’association se réservent le droit de contrôler les protections oculaires des joueurs, et d’interdire l’accès au terrain en cas de non-respect des règles fixées.</li>
	<li>Chaque joueur est responsable de sa propre sécurité sur le terrain, préférez toujours la sécurité à l’efficacité lors de vos actions.</li>
	<li>Les joueurs doivent respecter les balisages mis en place ainsi que les consignes données par les organisateurs en début de partie.</li>
	<li>Tout problème relatif à la sécurité (balise manquante ou dégradée, accident…) doit être remonté immédiatement à  un organisateur.</li>
</ul>


<h2><div id="Puissance">Puissances maximales, distances de sécurité et modes de tir :</div></h2>
<h3> <div id="Puissance1">1) Puissance des répliques et règles d’engagement</div></h3>

Pour pouvoir participer aux parties de la R.A.R, les joueurs devront respecter les puissances ci-dessous (Vitesse exprimé avec des billes de 0.20g). Seules les répliques de type « soutient » (type M249..) seront autorisées de tirer en full (rafale). Durant les mesures des puissances des répliques, il sera toléré 10 fps au-dessus de ce que stipule le règlement.
<ul>
	<li>GBB/GBBR/AEG / AEP/SPRING : jusqu’à 330 fps = Pas de distance minimum de tir</li>
	
	<li>AEG/GBBR (full auto : M249/M60/RPK/LW) : 350 fps = 10 mètres de distance minimum de tir</li>
	
	<li>AEG/GBBR/AEP (semi) : 350 à 400 fps = 5 mètres de distance minimum de tir</li>
	
	<li>Sniper électrique (semi): jusqu’à 425 fps = 10 mètres de distances</li>
	
	<li>Bolt (spring ou gaz ou électrique avec mosfet 1à 3 secondes entre chaque tir): jusqu’à 467 fps = 20 mètres de distance minimum de tir
	Pour des raisons d’équité entre tous les joueurs, Il ne sera toléré pas plus d’un chargeur type  « Hi-cap »  sur soi en partie (sauf pour les possesseur de réplique « Soutient »).
	Les rafales pour les répliques autre que de type « soutient » peuvent être toléré, si et seulement si, les organisateurs de la partie le stipule clairement avant le début de la partie.</li>
</ul>

<h3><div id="Mode">2) Modes de tir</div></h3>
<ul>
	<li>Le « pan t’es out » ou  « out vocal » n’est pas toléré, afin d’éviter tout abus de celui-ci.</li>
	
	<li>Le tir sans visibilité (dit à la « libanaise »), ou en cloche est interdit.</li>
	
	<li>Interdiction de tirer de la zone neutre, vers la zone neutre, dans la zone neutre, ou à
	Travers la zone neutre. Une zone de tir à l’écart sera prévue pour régler les répliques.</li>
</ul>

<h2><div id="Pyro">Pyrotechnie/Grenade :</div></h2>
<ul>
	<li>Les artifices pyrotechniques artisanaux sont interdits.</li>
	
	<li>Les artifices pyrotechniques sont soumis à l’approbation des responsables de l’association avant chaque partie. L’approbation ou le refus sera motivé en fonction du terrain (végétation, proximité des habitations), du type de partie, et de l’artifice. La décision des responsables à ce sujet n’est pas contestable.</li>
	
	<li>Les grenade à gaz spécifiquement conçue pour l’airsoft sont acceptées et sont utilisable sur tout type de terrain.</li>
</ul>

<h2><div id="Regles">Règles de jeu :</div></h2>

Les règles suivantes pourront être adaptées en fonction des parties et des consignes de l’organisateur, mais toujours dans le respect du fair-play et du bon sens.
<ul>
	<li>L’Airsoft est basé sur le fair-play et sur un bon état d’esprit de la part des joueurs. Ainsi, chaque joueur s’engage, lorsqu’il participe à une partie, à annoncer distinctement qu’il a été touché par une bille, le cas échéant, à sortir du terrain au plus vite en signifiant clairement aux autres joueurs son élimination en criant “OUT”. Cela s’applique également lorsque l’on est touché par un joueur de la même équipe.</li>
	
	<li>Lorsqu’un joueur est touché, il n’a plus le droit de parler et il doit revenir en zone neutre en gardant au moins une main en l’air, la réplique tenue de manière non agressive, en bandoulière ou canon vers le sol ou vers le ciel, et le sélecteur en position sécurité.</li>
	
	<li>Avant de pénétrer en zone neutre, chaque joueur doit se rendre dans la zone de tir, retirer le chargeur de toutes les répliques qu’il transporte, puis tirer plusieurs fois jusqu’à que toutes ses répliques tirent à vide. Il enclenche alors la sécurité et peut ensuite entrer dans la zone neutre sans chargeur engagé dans ses répliques.</li>
	
	<li>Le joueur touché garde ses lunettes pendant toute la durée du jeu, même dans la zone neutre.</li>
	
	<li>Si un joueur touché par une bille, ne se déclare pas de lui-même en présence d’un organisateur,  ce dernier recevra un avertissement et devra retourner en zone dite de « respawn ».</li>
	
	<li>Un joueur peut être considéré « out » ou « hors-jeu »  par un contact direct en touchant un joueur avec son arme de poing (P.A) ou avec son couteau factice mou. Pour le P.A (arme de poing) il doit démontrer qu’il possède bille, gaz, batterie et chargeur (si contestation du joueur touché). Dans cette situation le joueur touché sort du jeu sans dire « out », il se lève et retourne à son « respawn » silencieusement.</li> 
	
	<li>Si la réplique du joueur est touchée, alors sa réplique est inutilisable et doit donc obligatoirement retourner au « respawn » ou  utiliser son Back up (PA : arme de poing). Dans le cas où le joueur ne possède pas de Back up, il est alors considéré comme « OUT » et doit retourner à son « respawn ».</li>
	
	<li>Lors de l’explosion d’une grenade, deux cas de figure :</li>
	<ul>
		<li>En extérieur : Tous les joueurs présents dans un rayon de 5 mètre du lieu de l’explosion de la grenade, sont « OUT », même si caché d’arrière une barricade.</li>
		<li>En bâtiment : Tous les joueurs présent dans la pièce ou la grenade a explosé, sont « OUT », même si caché d’arrière une barricade </li>
	</ul>
</ul>
<h2><div id="ReglesSpec">Règles spécifiques : Médecin</div></h2>
Si le scénario inclut un Médecin (Les règles suivantes pourront être adaptées en fonction des parties et des consignes de l’organisateur) : </br>
</br>
Il doit alors appeler « MEDIC ! » et attendre 30 secondes maximum qu’un Médecin lui porte secours, Il doit rester sur place (sauf cas exceptionnels : s’écarter d’une trajectoire d’échange de billes, évacuer une pièce dans laquelle un fumigène a été lancé…). Il peut aussi être déplacé par un équipier sur une courte distance (pour le rapprocher d’un Médecin par exemple) Passé le délai de 30 secondes, si aucun Médecin ne se manifeste, le joueur touché se déclare de nouveau en criant « OUT !» et se dirige vers un point de respawn.</br></br>
Un joueur touché ne peut pas (et ne doit pas) communiquer aux autres joueurs sur les positions de l’adversaire tant qu’il n’est pas soigné ou qu’il n’a pas rejoint un point de respawn.</br></br>
Un joueur ne peut pas se faire soigner 2 fois de suite : s’il s’est déjà fait soigner et qu’il se fait de nouveau toucher, il doit se déclarer « out » et rejoindre un point de respawn. Lorsqu’il revient en jeu, il a de nouveau la possibilité de se faire soigner.</br>

<h2><div id="Code">Code moral :</div></h2>
Les règles qui suivent sont un simple rappel de la législation et du bon sens à appliquer pour pratiquer un Airsoft responsable.</br>
<ul>

	<li>Les répliques utilisées en Airsoft sont des copies très réalistes d’armes réelles. Lorsque l’on parle de ces lanceurs, on utilise le terme “réplique” et non “arme” afin d’éviter toute confusion, que cela soit au sein de l’association ou auprès des tiers.</li>

	<li>Le port des répliques sur la voie publique est strictement interdit.</li>
	
	<li>Le transport des répliques sur la voie publique devra être effectué de manière à ce que la réplique ne soit pas visible. Veillez à utiliser des housse, mallettes, voire des couvertures, afin d’éviter d’effrayer d’éventuels passants.</li>
	
	<li>Les tenues militaires sont susceptibles de prêter à confusion dans l’esprit d’éventuels passants. Ainsi il est interdit aux joueurs de porter leur tenu complète en dehors du terrain. Les joueurs ne devront revêtir leur tenue de jeu qu’une fois arrivés sur le terrain. De même ils devront se changer à nouveau avant de quitter le terrain.</li>
	
	<li>La pratique de l’airsoft doit se faire dans un cadre légal et de respect, ainsi il est interdit à tout joueur de porter des insignes, à moins que ce joueur les ait reçues officiellement dans le cadre légal prévu. De même les uniformes, insignes ou emblèmes rappelant ceux portés par les membres d’une organisation déclarée criminelle par le tribunal de Nuremberg (SS, la Gestapo, SD, et corps des chefs nazis) sont strictement interdits.</li>
	
	<li>La consommation d’alcool ou/et de produits stupéfiants est strictement interdite sur le terrain de jeu, avant et pendant toute la journée de jeu.</li>
	
	<li>Si au cours d’une partie des personnes étrangères au jeu venaient à pénétrer sur la zone, les joueurs ont obligation de cesser immédiatement de jouer, d’enclencher la sécurité de leurs répliques et de signaler immédiatement la présence des promeneurs aux arbitres et organisateurs qui se chargeront de les informer.</li>
	
	<li>Durant la journée de jeu, il est interdit de laisser des déchets sur le site. L’association R.A.R mettra à la disposition des joueurs une poubelle, afin d’éviter toute pollutions.</li>
</ul>	
</div> 
</body>	
</html>