<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
  <meta http-equiv="Content-Language" content="fr" />
  <meta name="Copyright" content="v.sypowski" />
  <meta name="Author" content="v.sypowski" />
  <meta protected_copyright="true">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href="{{ asset('bundles/framework/css/bootstrap.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/framework/css/styles.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="inc/jquery/jquery-1.9.1.min.js"></script>
  <script src="ressource/js/bootstrap.min.js"></script>
  </head>
</body>
	<div id="content">
	<!--modal Terrain1 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3>Terrain 1</h3>
		Description :<br>
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </div>
  </div>
</div>

		<div class="row">
	  		 <div id="backterrain1" class="terrain" class="col-md-12" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><div id="terrain">Terrain1</div></div>
	  		 <div id="backterrain2" class="terrain" onclick="terrain2()" class="col-md-12"><div id="terrain">Terrain2</div></div>
	  		 <div id="backterrain3" class="terrain" onclick="terrain3()" class="col-md-12"><div id="terrain">Terrain3</div></div>	  		
	  	</div>
	</div>  
</body>
	
</html>